* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
}

/* :root {} */

@font-face {
    font-family: 'Panchang-Light';
    src: url('./assets/fonts/Panchang-Light.woff2') format('woff2'),
        url('./assets/fonts/Panchang-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Panchang-Regular';
    src: url('./assets/fonts/Panchang-Regular.woff2') format('woff2'),
        url('./assets/fonts/Panchang-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Panchang-Medium';
    src: url('./assets/fonts/Panchang-Medium.woff2') format('woff2'),
        url('./assets/fonts/Panchang-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Panchang-Semibold';
    src: url('./assets/fonts/Panchang-Semibold.woff2') format('woff2'),
        url('./assets/fonts/Panchang-Semibold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Panchang-Bold';
    src: url('./assets/fonts/Panchang-Bold.woff2') format('woff2'),
        url('./assets/fonts/Panchang-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

/* GT Font */



@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('./assets/fonts/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('./assets/fonts/GTWalsheimPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('./assets/fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
        url('./assets/fonts/GTWalsheimPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

:root {
    --body-color: #080808;
}

body {
    font-family: 'Panchang-Regular';
    background-color: var(--body-color);
}

.gt-font {
    font-family: 'GT Walsheim Pro';
}

.gt-font-bold {
    font-family: 'GT Walsheim Pro';
    font-weight: 500;
}

.gt-font-bold-x {
    font-family: 'GT Walsheim Pro';
    font-weight: 600;
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(67, 67, 67);
    outline: 1px solid slategrey;
}

.head {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.head h4 {
    font-size: 20px;
}

.head hr {
    height: 20px;
    width: 2px;
    background-color: #f36c4f;
    border: none;
    margin-right: 10px;
}


/* tilt */

.card {
    position: relative;
    height: 50vh;
    width: 20vw;
    padding: 40px;
    transform-style: preserve-3d;
    border-radius: 20px;

}

.title {
    position: relative;
    z-index: 2;
    transform: translateZ(60px);

}

.credits {
    font-size: 1.2vh;
    letter-spacing: 0.05em;
    opacity: 0.6;
    transform: translateZ(20px);
}

.bg {
    position: absolute;
    border-radius: 20px;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}